<div class="container">
  <!-- Account: -->
  <!-- <span>{{balance}}</span> -->


  <!-- <div class="row">
    <div class="card col s12 m5">
      <div class="input-field">
        <input id="setAgeInput" type="text" [(ngModel)]='ageSelected' class="validate">
        <label for="setAgeInput">Set Age</label>
      </div>
      <div class="center">
        <a class="waves-effect waves-teal btn" (click)="setAgeComponent()">Button</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col s12 m5">
      <p> {{ ageSelected }} </p>
    </div>
  </div> -->


  <!-- <div class="row">
    <h3>Registrate con nosotros</h3>
    <h4 class="mt-3" *ngIf="StudentName">
      Hola {{ StudentName }} {{ StudentLastName }}
    </h4>

    <div class="card col s12 m6 border-ra-10 mt-3">
      <div class="input-field">
        <input id="setNameInput" type="text" [(ngModel)]='StudentName' class="validate">
        <label for="setNameInput">Nombre</label>
      </div>
      <div class="input-field">
          <input id="setLastNameInput" type="text" [(ngModel)]='StudentLastName' class="validate">
          <label for="setLastNameInput">Apellido</label>
        </div>
      <div class="center mb-1">
        <a class="waves-effect waves-teal btn" (click)="thanks4registering()">Button</a>
      </div>
    </div>
  </div> -->



</div>